body {
  margin: 0;
  padding: 0;
  color: #40514e;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  /* width: 10%; */
  /* margin: 0 auto; */
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  /* line-height: 2; */
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  /* margin: 100px 0; */
}

.profile {
  /* text-align: center; */
}

.profile-description {
  /* text-align: center; */
  width: 50%;
  /* color: #40514e; */
  margin: auto;
  line-height: 2;
}

hr {
  border-style: none;
  border-top: dotted #eaf6f6 7px;
  width: 5%;
  margin: 100px auto;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.top-container h2 {
  font-weight: normal;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

.top-container {
  width: 100%;
  position: relative;
  padding-top: 100px;
  background-color: #eaf6f6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.dev {
}

.middle-container {
  margin: 100px auto;
}

.skill {
  /* text-align: center; */
  /* margin: 0 auto; */
  /* text-align: left; */
}

.prog {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto;
  /* line-height: 2; */
}

/* .code-skill-description1 {
  clear: left;
}

.code-skill-description2 {
  clear: right;
} */

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
}

.copy-right {
  color: #eaf6f6;
  font-size: 0.75em;
  padding: 20px 0;
}

/* box-model challenge */
/* .top-container {
  background-color: #e4f9f5;
  width: 200px;
  height: 200px;
  padding: 20px;
  border: solid 10px;
} */

/* display: inline-block;
display: inline;
display: block;
display: none;
visibility: hidden; */
/* Design school 101 */
